@use "abstracts/" as *;
@use "partials/" as *;
@use "breakpoints/" as *;
@use "development/" as *;

* {
  font-family: "Paypen Sans";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// * {
//   font-family: "Calligraffitti";
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }
