@use "colors" as *;

// privacy popup animations
@keyframes privacyPopupSlideIn {
  0% {
    opacity: 1;
    transform: translateY(1000px);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes privacyPopupSlideOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(50px);
    opacity: 1;
  }

  100% {
    transform: translateY(-1000px);
    opacity: 1;
  }
}

@keyframes backgroundLigthen {
  0% {
    background: rgba($color: $clr-primary-dark-1, $alpha: 0.6);
    backdrop-filter: blur(10px);
  }
  100% {
    background: rgba($color: $clr-primary-dark-1, $alpha: 0);
    backdrop-filter: blur(0px);
  }
}

// scrolling text animation:
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
