$clr-primary-light-4: #666;
$clr-primary-light-3: #555;
$clr-primary-light-2: #444;
$clr-primary-light-1: #333;
$clr-primary: #222;
$clr-primary-dark-1: #111;
$clr-primary-dark-1: #000;

$clr-secondary-light-2: #fff;
$clr-secondary-light-1: #eee;
$clr-secondary: #ddd;
$clr-secondary-dark-1: #ccc;
$clr-secondary-dark-2: #bbb;
$clr-secondary-dark-3: #aaa;
$clr-secondary-dark-4: #999;

$clr-accent: #ff9447;
$clr-accent-a: #fdd088;

$clr-success: #6dfc6d;
$clr-error: #ff6347;
