@use "../abstracts/" as *;

@media (max-width: 576px) {
  .section-location-banner-main {
    .location-banner-container {
      .background-img {
        height: 150px;
        object-fit: cover;
      }

      .banner-content {
        margin-top: 100px;
        padding-bottom: 2rem;
        grid-template-columns: 1fr;
        span {
          padding: 0;
          font-size: 18px;
        }
      }
    }
  }
}
