@use "../abstracts/" as *;

@media (max-width: 992px) {
  .section-location-banner-main {
    .location-banner-container {
      .background-img {
        height: 170px;
      }

      .banner-content {
        display: grid;
        grid-template-columns: 1fr;
        font-size: 14px !important;
        padding: 1rem;

        span {
          padding: 0;
        }
      }
    }
  }
}
