@use "../abstracts/" as *;

@media (max-width: 576px) {
  .section-intro-main {
    .logo-slogan-container {
      padding-bottom: 30vh;
    }
  }

  .section-about-main {
    .about-content-container {
      .content-grid {
        .grid-item:nth-child(2) {
          .text-on-image-container {
            max-height: 150px;
            max-width: 150px;

            .teaser-text {
              padding: 25px;
              margin-top: 10px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  .section-location-banner-main {
    .location-banner-container {
      .background-img {
        height: 400px !important;
        object-fit: cover;
      }

      .banner-content {
        padding-bottom: 2rem;
        grid-template-columns: 1fr;
        .banner-text {
          font-size: 22px;
          line-height: 1.8;
          .highlight {
            font-size: 18px;
          }
        }
      }
    }
  }

  .section-menu-main {
    .menu-product-group-container:nth-of-type(1) {
      border-bottom: 1px solid $clr-accent-b;
      padding: 0;

      .items-container {
        display: grid;
        grid-template-columns: 1fr;

        .item {
          padding-bottom: 2rem;
        }
      }
    }
    .menu-product-group-container:nth-of-type(2) {
      .item {
        padding-bottom: 2rem;
      }
    }
  }

  .navbar-wrapper {
    .offcanvas {
      width: 100%;
    }
  }

  .section-gallery-main {
    padding: 75px 0 0 0;
  }

  // print view
  #control-panel {
    .select-products-container {
      flex-direction: column;
      #starters-container,
      #main-dishes-container,
      #desserts-container {
        width: 100%;

        .starter-item,
        .main-item {
          display: flex;
          align-items: center;
          padding: 5px;
        }

        input {
          height: 25px;
          width: 25px;
        }

        label {
          font-size: 18px;
        }
      }
    }
  }
}
