@use "../abstracts/" as *;

@media (max-width: 768px) {
  .section-about-main {
    .about-content-container {
      .content-grid {
        .grid-item {
          .content-text {
            font-size: 20px;
            line-height: 1.5;
            padding: 1rem;

            .highlight {
              font-weight: 500;
              // color: $clr-accent-b;
            }
          }

          .content-image {
            object-fit: cover;
            max-height: 400px;
          }
        }

        .grid-item:nth-of-type(1) {
          grid-template-columns: 1fr;
        }
        .grid-item:nth-of-type(2) {
          grid-template-columns: 1fr;
        }
      }
    }
  }

  .section-location-main {
    display: block;

    .location-map-container,
    .layout-container {
      padding: 1rem;
    }
  }
}
