@use "../abstracts/" as *;

.navbar-wrapper {
  width: 100%;
  position: absolute;
  // background: $clr-primary-dark-1;
  display: flex;
  justify-content: center;
  z-index: 99;

  .background-img {
    position: absolute;
    top: -25px;
    z-index: -1;
    height: 100px;
    width: 100%;
  }
}

.section-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .background-img {
    margin-top: -50px;
    height: 100px;
    width: 100%;
  }
}

.section-wrapper-variant-a {
  background: $clr-accent-a;
  margin-top: -60px;
}

.section-wrapper-variant-b {
  background: $clr-accent-d;
}

.section-wrapper-variant-c {
  background: $clr-accent-b;
}

.section-header {
  width: 100%;
  padding: 1rem 0 0.5rem 0;
  margin: 0;
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: $clr-primary-dark-2;
}
