@use "../abstracts/" as *;

.navbar-wrapper {
  width: 100%;
  position: fixed;
  background: $clr-primary-dark-1;
  display: flex;
  justify-content: center;
  z-index: 99;
}

.section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  background: rgba($color: $clr-primary, $alpha: 0.95);
}

.section-wrapper-variant {
  background: linear-gradient(
    0deg,
    rgba(34, 34, 34, 0.95) 0%,
    rgba(17, 17, 17, 0.95) 30%,
    rgba(0, 0, 0, 0.95) 70%,
    rgba(0, 0, 0, 1) 100%
  );
}

.section-header {
  width: 100%;
  padding: 1rem 0 0.5rem 0;
  margin: 0;
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: $clr-accent;
}
