@use "../abstracts/" as *;

.navbar-wrapper {
  width: 100%;
  position: fixed;
  background: $clr-primary-dark-1;
  display: flex;
  justify-content: center;
  z-index: 99;
}

.section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  background: $clr-primary;
}

// .page-wrapper {
//   color: $clr-secondary;
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
//   align-items: center;
//   text-align: center;

//   .background-filler {
//     position: fixed;
//     top: 0;
//     background: $clr-primary;
//     height: 100%;
//     width: 100vw;
//     z-index: -3;
//   }

//   .content-wrapper {
//     max-width: 1400px;
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
//   }
// }

.section-header {
  width: 100%;
  padding: 1rem 0 0.5rem 0;
  margin: 0;
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: $clr-accent;
}
