@use "../abstracts/" as *;

// privacy popup classes:

.scroll-disabled {
  overflow: hidden;
}

.popup-slide-in {
  animation: privacyPopupSlideIn 0.5s ease-out 0.5s forwards;
}

.popup-slide-out {
  animation: privacyPopupSlideOut 0.5s ease-out forwards;
  transform: translateY(0px);
}

.background-lighten {
  animation: backgroundLigthen 1s linear forwards;
}
