@use "../abstracts/" as *;

.section-location-banner-main {
  display: flex;
  justify-content: center;
  height: 50px;
  .location-banner-container {
    width: 100%;
    position: relative;
    top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: $clr-secondary-light-1;
    font-weight: 200;
    letter-spacing: 1px;

    .background-img {
      position: relative;
      height: 170px;
      width: 100%;
    }
    .banner-content {
      max-width: 1400px;
      width: 100%;
      position: absolute;
      z-index: 2;
      text-align: center;

      .banner-text {
        margin: 0;

        .highlight {
          font-weight: 700;
          text-transform: uppercase;
          cursor: pointer;
          animation: BannerPulse 2s ease-in-out infinite;
          transition: all 0.5s;
        }
      }
    }

    @keyframes BannerPulse {
      0% {
        color: lighten($clr-secondary, 0%);
      }
      50% {
        color: lighten($clr-accent-c, 20%);
      }
      100% {
        color: lighten($clr-secondary, 0%);
      }
    }
  }
}
