@use "../abstracts/" as *;

.navbar {
  padding: 0;
  background: $clr-primary !important;

  .container-fluid {
    padding: 0;
    flex-wrap: nowrap;
    align-items: center;
  }

  .navbar-toggler {
    padding: 0.5rem 1rem;
    border: none;
    box-shadow: none;
    .icon {
      font-size: 2rem;
      color: $clr-secondary;
    }
  }

  .scrolling-wrapper {
    color: $clr-accent;
    align-items: center;
    padding: 0.5rem 0;
    .marquee {
      p {
        margin: 0;
        padding-top: 2px;
      }
    }
  }
}
