@use "../abstracts/" as *;
.navbar-wrapper {
  .navbar {
    background: transparent !important;
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-wrap: nowrap;
    padding: 0;

    .container-fluid {
      width: max-content;
      padding: 0;
      flex-wrap: nowrap;
      align-items: center;
    }

    .navbar-toggler {
      padding: 0.5rem 1rem;
      border: none;
      box-shadow: none;
      .navbar-toggler-button {
        font-size: 1.6rem;
        color: $clr-secondary;
      }
    }

    .offcanvas {
      background: rgba($color: $clr-secondary-light-1, $alpha: 0.7);
      .offcanvas-header {
        .offcanvas-title {
          color: $clr-accent-b;
        }

        .btn-close {
          opacity: 1;
          padding: 0.5rem 1rem;
        }
      }

      .offcanvas-body {
        .navbar-nav {
          height: 100%;
          text-align: center;
          line-height: 2.2;
          li .nav-item {
            text-decoration: none;
            color: $clr-accent;
            font-size: 26px;
            font-weight: 600;
            padding: 1rem;
            text-transform: uppercase;
          }

          .nav-link {
            padding: 0 !important;
          }
        }
      }
    }

    .scrolling-wrapper {
      color: $clr-secondary-light-1;
      text-transform: uppercase;
      align-items: center;
      padding: 8px 0 5px 0;
      .marquee {
        p {
          margin: 0;
          padding-top: 2px;
          font-size: 18px;
        }
      }
    }

    .scrolling-wrapper {
      max-width: 100%;
      overflow: hidden;

      .marquee {
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        animation: marquee 20s linear infinite;
        p {
          display: inline-block;
        }
      }
    }
  }
}
