@use "../abstracts/" as *;

.section-location-main {
  color: $clr-secondary;
  padding: 3rem 1rem;
  text-align: center;
  .location-map-container {
    padding: 1rem 2rem 2rem 2rem;

    img {
      object-fit: cover;
      width: 100%;
      max-width: 300px;
      border-radius: 0.375rem;
      filter: grayscale(80%) contrast(100%);
      transform: scale(1);
      transition: all 1s;
      &:hover {
        filter: grayscale(0%) contrast(100%)
          drop-shadow(5px 5px 10px $clr-primary-dark-2);
        transform: scale(1.01);
      }
    }
  }

  .location-address-container {
    .location-address {
      display: flex;
      justify-content: center;
      flex-direction: column;

      p {
        margin: 0;
      }
    }
  }

  .social-media-container {
    padding-top: 2rem;

    .social-media-wrapper {
      .social-media-item {
        padding-bottom: 0.5rem;
        .url {
          padding: 5px;
          text-decoration: none;
          color: $clr-accent-a;
          transition: all 0.5s;
          &:hover {
            color: $clr-accent;
          }

          i {
            padding: 5px;
          }
        }
      }
    }
  }
}
