@use "../abstracts/" as *;

.section-menu-main {
  position: relative;
  max-width: 1000px;
  margin-top: 3rem;
  color: $clr-primary-dark-2;
  padding: 11rem 1rem 2rem 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .section-menu-intro-container {
    padding-bottom: 2rem;
    .menu-image {
      max-height: 350px;
      margin: -1rem;
      transform: translateX(20px);
      // transform: rotate(180deg);
    }
  }

  .section-header {
    color: $clr-accent;
  }

  .section-description,
  .section-teaser {
    font-size: 20px;
    font-weight: 300;
    padding: 0.5rem 1rem 0 1rem;
    margin: 0;

    .highlight {
      font-weight: 800;
      text-transform: uppercase;
      color: lighten($clr-accent, 20%);
      display: block;
      font-size: 22px;
      padding: 0.5rem;
    }
  }

  .menu-product-group-container:nth-of-type(1) {
    display: flex;
    justify-content: center;
    align-items: center;

    // border-bottom: 1px solid $clr-primary-light-4;

    .items-container {
      min-width: 350px;
      display: grid;
      align-items: center;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
  }

  .menu-product-group-container:nth-of-type(2) {
    .item {
      padding-bottom: 2rem;
    }
  }

  .menu-product-group-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0 2rem 0;
    width: 100%;
    border-top: 1px solid $clr-secondary-dark-4;

    .product-group-header {
      text-transform: uppercase;
      color: $clr-accent;
      font-weight: 300;
      padding: 1rem;
      font-size: 24px;
      letter-spacing: 4px;
    }

    .product-group-teaser {
      font-weight: 300;
      color: $clr-accent-b;
    }

    .items-container {
      padding: 0.5rem 0;
      .item {
        padding-bottom: 2rem;

        .item-name {
          color: lighten($clr-accent, 10%);
          text-transform: uppercase;
          font-size: 1.2rem;
          font-weight: 700;
          margin: 0;
        }

        .item-ingredients {
          .ingredient {
            color: $clr-primary;
            font-size: 1rem;
            font-weight: 400;
          }
        }

        .item-allergens {
          color: $clr-primary-light-1;
          font-size: 0.7rem;
          font-weight: 200;
          padding: 0.5rem;

          .item-allergen-id {
            span {
              padding-right: 5px;
            }
          }
        }

        .item-price {
          font-size: 1.6rem;
          font-weight: 100;
          color: $clr-accent;
        }
      }
    }
  }

  .menu-allergen-container {
    .allergen-header {
      font-size: 18px;
      font-weight: 400;
    }

    .accordion-wrapper {
      display: flex;
      justify-content: center;

      .accordion {
        // bs css variable overwrite:
        --bs-accordion-btn-bg: #f2f1f0;
        --bs-accordion-active-bg: #f2f1f0;
        --bs-accordion-active-color: #591e08;
        --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem
          rgba(255, 255, 255, 0);
        --bs-accordion-btn-color: #591e08;
        --bs-accordion-bg: #f2f1f0;
        --bs-accordion-color: #a63c4f;
        --bs-accordion-border-color: none;
        --bs-accordion-border-radius: none;
        --bs-accordion-inner-border-radius: none;

        max-width: 700px;
        min-width: 325px;
        border-radius: 0.375rem;

        .accordion-item {
          border-radius: 0.375rem;

          .accordion-header {
            border-radius: 0.375rem;

            .accordion-button {
              border-radius: 0.375rem;

              font-size: 14px;
              font-weight: 300;
              text-align: center;
              padding: 0.5rem 1rem;
              &:focus {
                font-weight: 500;
                border-bottom: none;
              }
              &::after {
                filter: invert(50%);
              }

              .allergen-description {
                font-size: 1rem;
              }
            }
          }

          .accordion-body {
            border-radius: 0.375rem;

            font-size: 12px;
            padding: 1rem;
            width: 100%;
            max-width: 650px;

            .allergens-list {
              list-style: none;
              padding-left: 0;
              margin: 0;

              .allergen-item {
                text-align: left;
                padding-bottom: 0.5rem;

                .item-id {
                  font-weight: 900;
                }

                .item-label {
                  font-weight: 500;
                  font-size: 14px;
                  text-transform: uppercase;
                }

                .item-description {
                  font-style: italic;
                }
              }
            }
          }
        }
      }
    }
  }
}
