@use "../abstracts/" as *;

.section-feedback-main {
  background: $clr-primary;
  padding: 3rem 1rem;

  .feedback-redirect {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .feedback-url {
      text-decoration: none;
      color: $clr-accent;
    }

    .qr-container {
      width: 100%;
      display: flex;
      justify-content: center;

      .feedback-qr {
        max-width: 300px;
        padding: 1rem;
      }
    }
  }
}
