@use "../abstracts/" as *;

.section-qa-main {
  color: $clr-secondary;
  padding: 3rem 1rem;
  text-align: center;

  // temp:
  .qa-content-container {
    font-size: 12px;
    color: $clr-error;
  }
}
