@use "../abstracts/" as *;

.section-ramen-kit-main {
  background: $clr-primary;
  color: $clr-secondary;
  text-align: center;
  padding: 3rem 0;

  .ramen-kit-teaser {
    font-size: 18px;
    letter-spacing: 1px;
  }

  .ramen-kit-contact {
    p {
      margin: 0;
      i {
        padding: 0 0.5rem;
        color: $clr-accent-a;
      }
    }
    .phone {
      padding-top: 2rem;
    }
  }

  .ramen-kit-instructions {
    margin-top: 2rem;

    .instruction-container {
      ul {
        padding: 0;
        .instruction {
          list-style: none;
        }
      }
    }
  }
}
