@use "../abstracts/" as *;

.section-menu-main {
  margin-top: 3rem;
  color: $clr-primary-dark-2;
  padding: 5rem 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .menu-starter-container {
    padding: 1rem;
    .starter-header {
      text-transform: uppercase;
      color: $clr-accent-b;
    }
  }

  .menu-soup-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;

    .soup-header {
      text-transform: uppercase;
      color: $clr-accent-b;
    }

    .soup-item {
      padding: 1.5rem 0;

      .item-name-container {
        display: flex;
        justify-content: center;

        .item-name {
          color: $clr-accent-b;
          font-size: 1.2rem;
        }

        // .item-icon {
        //   padding: 5px;
        //   font-size: 0.7rem;
        //   color: tomato;
        // }
      }

      .item-ingredients {
        padding: 1rem 2rem;

        .ingredient {
          color: $clr-primary-dark-2;
          font-size: 1rem;
          font-weight: 300;
        }
      }

      .item-allergens {
        color: $clr-primary-light-1;
        font-size: 0.9rem;
        font-weight: 200;
      }

      .item-price {
        font-size: 1.6rem;
        font-weight: 200;
        padding: 1.8rem;
        color: $clr-accent-b;
      }
    }
  }

  .menu-allergen-container {
    .allergen-header {
      font-size: 18px;
    }

    .accordion-wrapper {
      display: flex;
      justify-content: center;

      .accordion {
        // bs css variable overwrite:
        --bs-accordion-btn-bg: #f2f1f0;
        --bs-accordion-active-bg: #f2f1f0;
        --bs-accordion-active-color: #591e08;
        --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem
          rgba(255, 255, 255, 0);
        --bs-accordion-btn-color: #591e08;
        --bs-accordion-bg: #f2f1f0;
        --bs-accordion-color: #a63c4f;
        --bs-accordion-border-color: none;
        --bs-accordion-border-radius: none;
        --bs-accordion-inner-border-radius: none;

        max-width: 700px;
        min-width: 325px;
        padding: 0 3rem;

        .accordion-item {
          .accordion-header {
            .accordion-button {
              padding: 0.5rem;
              font-size: 14px;
              font-weight: 200;
              border-bottom: 1px solid $clr-secondary-dark-1;
              &:focus {
                font-weight: 500;
                border-bottom: none;
              }
              &::after {
                filter: invert(100%);
              }
            }
          }

          .accordion-body {
            font-size: 12px;
            padding: 1.5rem;
          }
        }
      }
    }
  }
}
