@use "../abstracts/" as *;

.section-privacy-main {
  width: 100%;
  max-width: 1200px;
  height: max-content;
  min-height: 100vh;
  padding: 100px 1rem 1rem 1rem;
  color: $clr-primary;
  text-align: center;

  .section-header {
    color: lighten($clr-accent, 10%);
  }

  .section-subheader {
    color: lighten($clr-accent, 20%);
    padding: 1rem;
  }

  p {
    padding: 2rem 1rem;
  }

  .intro-content {
    font-size: 18px;
    line-height: 1.8;
  }

  .list {
    padding: 0;
    list-style: none;
    .item {
      padding: 1rem;
    }
  }

  .privacy-contact-container {
    p {
      padding: 0;
      font-weight: 700;
    }
  }
}
